# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Build output
.next/
out/
dist/
build/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
coverage/
*.local

# Optional: lock files (uncomment if you want to ignore lock files)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml 
# Tencent Cloud EdgeOne
.env
.edgeone/*
!.edgeone/project.json
.tef_dist/*
  